.header {
  padding: 20px 0;

}
.nav-menus{
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: Avenir !important;
  color: #444655 !important;
}
.appointment {
  border-radius: 20px 20px 20px 0;
}

.welcome-text {
  color: #395CAB;
  font-size: 29px;
  font-family: Bellefair;
}

.welcome-texts {
  font-family: Bellefair;
  font-size: 58px;
  color: #444655;
  line-height: 80px;
  padding: 0 90px 0 0;
}

.nav-menus {
  font-family: Avenir;
  font-weight: 400 !important;
}

.welcome-sub-text {
  font-family: Avenir;
  font-weight: 400 !important;
  font-size: 18px;
  color: #535568;
  margin-bottom: 35px;
}

.nav-menus-btn {
  background-color: #395CAB;
  width: 214px;
  font-family: Avenir;
  height: 55px;
  border-radius: 20px 20px 20px 0;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 0 40px;
}

.banner-img {
  background-image: url('/background-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 460px;
  height: 502px;
  display: flex;
  justify-content: center;
  margin-top: -110px;
  align-items: center;
  animation: wobble 4s ease-in-out infinite;
}
@keyframes backgroundMove {
  0% {
    background-position: center top;
  }
  75% {
    background-position: center center;
  }
  100% {
    background-position: center bottom;
  }
}
@keyframes wobble {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  25% {
    transform: rotate(1deg) translateX(3px);
  }
  50% {
    transform: rotate(0deg) translateX(0);
  }
  75% {
    transform: rotate(-1deg) translateX(-3px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}
@keyframes fastWobble {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  15% {
    transform: rotate(3deg) translateX(4px);
  }
  30% {
    transform: rotate(-3deg) translateX(-4px);
  }
  45% {
    transform: rotate(2deg) translateX(3px);
  }
  60% {
    transform: rotate(-2deg) translateX(-3px);
  }
  75% {
    transform: rotate(1deg) translateX(2px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}



.carousel-img {
  margin-top: 205px;
  padding: 15px;
  margin-right: 40px;
  
}

.energy-section-background {
  justify-content: center;
  align-items: center;
  background-image: url('/Treat.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 412px;
    transition: transform 0.3s ease;
}
.energy-section-background:hover {
  transform: scale(1.1);
}

.peace-right-row {
  padding: 0 0 0 131px !important;
}
/* Fade & slide up animation */
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-load {
  opacity: 0;
  animation: fadeSlideUp 0.8s ease forwards;
}

.energy-section {
  padding: 100px 0 60px 0;
}

.energy-text {
  color: #395CAB;
  font-size: 73px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: "Arsenal SC";
}

.energy-texts {
  color: #395CAB;
  font-size: 73px;
  font-weight: 300;
  margin-top: -20px !important;
  font-family: "Arsenal SC";
}

.reflex {
  background-image: url('/reflexology.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  float: left;
  margin-left: -15px;
  margin-bottom: 80px;
}

.banner-img-ref {
  background-image: url('/background-img.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 460px;
  aspect-ratio: 460 / 502;
  display: flex;
    animation: wobble 4s ease-in-out infinite;
  justify-content: center;
  align-items: center;
}

.refimg {
  width: 190% !important;
  margin: 170px -33px 0 0;
}

.ref-head {
  font-family: Bellefair;
  font-weight: 400;
  font-size: 29px;
  color: #395CAB;
  padding: 10px 0 0 0;
}

.ref-subhead {
  font-family: Bellefair;
  font-weight: 400;
  font-size: 58px;
  color: #444655;
}

.ref-para {
  text-align: justify;
  font-family: Avenir;
  font-size: 18px;
  color: #535568;
}

.ref-row {
  margin: 60px 0 !important;
}

.reflex-row {
  padding: 0 0px 0 60px;
  margin-top: 96px !important;
}

.refs-row {
  margin: 40px 0;
}

.treatment-section {
  margin: 40px 0;
}

.treatment-head {
  font-size: 58px;
  font-family: Bellefair;
  font-weight: 400;
  color: #444655;
}

.treatment-subhead {
  font-size: 29px;
  font-weight: 400;
  font-family: Bellefair;
  color: #395CAB;
}

.treatments {
  margin: 30px 0;
  clear: both;
}

.treatment-title {
  font-size: 24px;
  font-weight: 400;
  margin: 35px 0 0 0;
  color: #444655;
  font-family: Bellefair;
}

.treatment-para {
  font-family: Avenir;
  font-weight: 400 !important;
  font-size: 16px;
  color: #535568;
  padding: 10px 0;

}

.nature-section img {
  text-align: center;
  object-fit: contain;
  height: 116px !important;
}
/* Example: styles.css or globals.css */
/* .nature-section {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.nature-section:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
} */


.image-contain {
  height: 94px;
}

.cure-head {
  color: #395CAB;
  font-size: 73px;
  font-weight: 400;
  font-family: "Arsenal SC";
}

.cure-subhead {
  color: #395CAB;
  font-size: 73px;
  font-weight: 300;
  font-family: "Arsenal SC";
  margin-top: -30px;
}

.cureimg {
  width: 100%;
  margin-bottom: 80px;
}

.peace {
  background-image: url('/peace-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  float: left;
  margin-left: -15px;
}

.peace-img {
  background-image: url('/background-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  float: left;
}

.peaceimg {
  width: 100% !important;
  margin: 177px -35px 0 0;
}

.peace-program {
  width: 100%;
  text-align: center;
  margin-top: 60px !important;
}

.recent-title {
  color: #444655;
  font-size: 58px;
  font-family: Bellefair;
  font-weight: 400;
}

.recent-sub {
  color: #395CAB;
  font-size: 29px;
  font-family: Bellefair;
  font-weight: 400;
}

.recent-pg {
  margin-top: -130px !important;
}

.recent-program {
  padding: 0 0 192px 0 !important;
}

.feet-text {
  color: #395CAB;
  font-size: 92px;
  font-weight: 400;
  font-family: "Arsenal SC";
  line-height: 113px;
  padding: 0 116px 0 0;
}

.foot-text {
  padding: 88px 0 0 0;
}

.word-title {
  color: #444655;
  font-size: 58px;
  font-weight: 400;
  font-family: Bellefair;
}

.word-testimonial {
  color: #395CAB;
  font-size: 29px;
  font-weight: 400;
  font-family: Bellefair;
}

.words-para {
  width: 100%;
  text-align: center;
}


.testimonial-text {
  font-size: 18px;
  font-family: Avenir;
  line-height: 30px;
  color: #535568;
  font-weight: 400;
  text-align: justify;
  height: 210px !important;
}

.testimonial-author {
  font-size: 32px;
  font-family: Avenir;
  line-height: 30px;
  font-weight: 400;
  color: #395CAB;
}

.testimonial-desgination {
  font-size: 18px;
  font-family: Avenir;
  line-height: 30px;
  font-weight: 400;
  color: #535568;
}

.contact-head {
  width: 100%;
  text-align: center;
}

.contact-head-title {
  font-size: 58px;
  font-family: Bellefair;
  color: #444655;
  font-weight: 400;
  text-align: center;
}

.contact-row {
  margin: 40px 0;
}

.contact-img-ref {
  background-image: url('/contact-img-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 460px;
  height: 502px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submission-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  background: #fff;
  padding: 2rem 3rem;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.checkmark-circle {
  font-size: 2.5rem;
  color: #4CAF50;
  margin-bottom: 1rem;
}

.popup-box h4 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.popup-box p {
  margin-bottom: 1rem;
  color: #555;
}

.contactform {
  background-color: rgba(255, 255, 255, 0.8);
}

.conform label {
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
}

.conform label b {
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  color: red;
}

.contactbtn {
  border-radius: 20px 20px 20px 0;
  background-color: #395CAB;
  color: #fff;
  width: 133px;
  height: 43px;
  font-size: 16px;
  font-family: Avenir;
}

.footer {
  color: white;
  font-family: 'Commissioner', sans-serif;
}

.footer-title {
  font-size: 28px;
  font-weight: 700;
}

.footer-energy {
  font-size: 20px;
  font-weight: 400;
  color: #cce4ff;
}

.footer-menu {
  padding: 0;
  margin: 0;
}

.footer-menu li {
  font-size: 16px;
  cursor: pointer;
}

.footer-nav:hover {
  text-decoration: underline;
}

.social-icons i {
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}

.social-icons i:hover {
  color: #b0d8ff;
}

.treat-section-background {
  justify-content: center;
  align-items: center;
  background-image: url('/Treat.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 410px;
}

.program-section {
  width: 100%;
  text-align: center;
}

.program-title {
  font-size: 58px;
  font-family: Bellefair;
  color: #444655;
  font-weight: 400;

}

.program-sub {
  font-size: 29px;
  font-family: Bellefair;
  color: #395CAB;
  font-weight: 400;
}

.our-program {
  margin-bottom: 40px;
}

.program-location {
  float: left;
}

.pagination {
  display: flex;
  list-style: none;
  gap: 10px;
  padding-left: 0;
}

.pagination li a {
  display: block;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
}

.pagination li a:hover {
  background-color: #007bff;
  color: white;
}

.program-location {
  text-align: left;
  width: 100%;
}

.mission-text {
  font-size: 58px;
  font-family: Bellefair;
  color: #444655;
  font-weight: 400;
  margin: -4px 0 0 15px;
}

.mission-sub-text {
  font-size: 29px;
  font-family: Bellefair;
  color: #395CAB;
  margin-top: 17px;
  font-weight: 400;
  margin-bottom: 77px;
}

.mission-sub-txt {
  color: #395CAB;
  font-size: 42px;
  font-weight: 300;
  font-family: "Arsenal SC";
  text-transform: uppercase !important;
}

.about-main-title {
  font-size: 29px;
  font-family: Bellefair;
  color: #395CAB;
  margin-top: 80px;
  font-weight: 400;
}

.about-title {
  font-size: 58px;
  font-family: Bellefair;
  color: #444655;
  font-weight: 400;
}

.about-txt {
  font-size: 18px;
  font-family: Avenir;
  font-weight: 400;
  color: #535568;
  text-align: justify;
}

.about-me-img {
  background-image: url('/profile-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 460px;
  height: 502px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-info {
  color: #6D758F;
  font-size: 14px;
  font-family: Avenir;
  font-weight: 400;

}

.about-inform {
  color: #444655;
  font-size: 16px;
  font-family: Avenir;
  font-weight: 700;
}

.contact-right-head {
  font-size: 30px;
  font-family: Bellefair;
  color: #444655;
  font-weight: 400;
}

.contact-right-subhead {
  font-size: 16px;
  font-family: Bellefair;
  color: #6D758F;
  font-weight: 400;
  margin-top: -18px;

}

.about-logo {
  padding: 0 0 20px 0;
}

.about-text-sec {
  color: #6D758F;
  font-size: 18px;
  font-family: Avenir;
  font-weight: 400;
  padding: 0 35px 0 0;
  text-align: justify;
}

.about-me {
	background-image: url('/about-bg.png');
	background-size: cover;
	background-position: center;
	padding: 0 0 180px 0px;
	margin-bottom: -150px;
  margin-top: 100px;
}

.contact-form {
  background-image: url('/contact.png');
  background-size: cover;
  background-position: center;
  padding: 100px 0 130px 0px;
  margin-top: 50px;
  margin-bottom: -170px;
}

.bg-contact-field {
  background-color: #EBEFF7;
  font-family: Avenir;
  font-size: 14px;
}

.contact-right {
  padding: 0 0 0 130px !important;
}

.contact-right-head-cc {
  font-size: 30px;
  font-family: Bellefair;
  color: #444655;
  font-weight: 400;
  padding: 127px 0 2px 0;
}

.contact-right-subhead-cc {
  font-size: 16px;
  font-family: Bellefair;
  color: #6D758F;
  font-weight: 400;
  margin-top: -18px;
  padding: 0 0 30px 0;

}

.contact-suc-btn {
  border-radius: 66px 66px 66px 0px !important;
  color: #395CAB !important;
  background: #fff !important;
  padding: 0 42px;
}

.bg-tick {
  background: #AFBFE5 !important;
}

.prog-img {
  border: 5px solid #395CAB;
  height: 250px !important;
  object-fit: contain;
  width: 100%;
}

.skeleton-box {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #eee;
  }

  50% {
    background-color: #ddd;
  }

  100% {
    background-color: #eee;
  }
}

.rec-prg-img {
  width: 100%;
  object-fit: contain;
  height: 250px !important;
  border: 5px solid #395CAB;
}

.program-id-title {
  text-align: center;
  color: #444655;
  font-size: 58px;
  font-family: Bellefair;
  font-weight: 400;
}

.program-id-location {
  text-align: center;
  font-size: 29px;
  font-family: Bellefair;
  font-weight: 400;
  color: #395CAB;
}

.energy-text-testi {
  color: #395CAB;
  font-size: 73px;
  font-weight: 300;
  margin-top: 13px;
  margin-bottom: 0;
  font-family: "Arsenal SC";
}

.energy-text-test {
  color: #395CAB;
  font-size: 73px;
  font-weight: 300;
  margin-top: -32px;
  margin-bottom: 0;
  font-family: "Arsenal SC";
}

.testi-contain {
  margin-top: 60px;
}

.home-bg-contact-field {
  background-color: #fff;
}

.home-contactform {
  background-color: #EBEFF7;
  margin-top: 65px;
}

.contact-headtext {
  font-weight: 400;
  font-size: 30px;
  font-family: Bellefair;
  color: #14253B;
}

.text-contact {
  font-weight: 400;
  font-size: 14px;
  font-family: Avenir;
  color: #64748B;
}

.home-contact-form {
  margin-top: 65px;
}

.footer-copy-right {
  font-size: 16px;
  color: #7994D1;
  float: right;
}

.footer-copy-left {
  font-size: 16px;
  color: #7994D1;
  float: left;
}

.footer-title .footer-logo {
  text-align: center;
  width: 100%;
}

.about-welcome-text {
  font-family: Bellefair;
  font-size: 58px;
  color: #444655;
  line-height: 80px;
  padding: 0 180px 0 0;
}

.about-welcome-sub-text {
  font-family: Avenir;
  font-weight: 400 !important;
  font-size: 18px;
  color: #535568;
}

.mission-sub-txte {
  color: #395CAB;
  font-size: 42px;
  font-weight: 300;
  font-family: "Arsenal SC";
  text-transform: uppercase !important;
}

.deepan-img {
  width: 100%;
  margin: 140px 0px 0 -29px;
}

.about-content-me {
  margin: 113px 0 100px 0 !important;
}

.about-for-img {
  margin: 80px 0 0 0 !important;
}

.reflex-container {
  padding: 30px 0 152px 0;
}

.py-12 {
  margin: 70px 0;
}
.testimonial-page{
  margin-top: -77px;
}

.footer {
  background-image: url('/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  margin-top: 90px !important;
}

.problem-head {
  font-size: 50px !important;
}

.problems {
  margin: 10px 0 50px 0;
}
.contact-form{
  margin-top: 50px;
  margin-bottom: -170px;
}
/* Media Qureies */
@media (max-width: 575.98px) {
  .banner-img {
    background-image: none !important;
    justify-content: left;
    width: 100%;
  }

  .feet-text {
    color: #395CAB;
    font-size: 41px;
    font-weight: 400;
    font-family: "Arsenal SC";
    line-height: 60px;
    padding: 0;
  }

  .testimonial-text {
    font-size: 18px;
    font-family: Avenir;
    line-height: 30px;
    color: #535568;
    font-weight: 400;
    text-align: justify;
    height: 270px !important;
  }
  .reflex-row {
	padding: 0 0px 0 0;
	margin-top: -90px !important;
}

  .peace-right-row {
    padding: 0 0 !important;
    text-align: center;
  }

  .problem-head {
    font-size: 26px !important;
  }
.welcome-text {
	font-size: 19px;
	text-align: center;
}

 .welcome-texts {
	font-family: Bellefair;
	font-size: 28px;
	color: #444655;
	line-height: 42px;
	padding: 0 90px 0 0;
	text-align: center;
	padding: 0 41px !important;
}

  .reflex {
    background-image: url('/ref-img-mob.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    width: 100%;
    height: 930px;
    margin-left: -1px;
  }
.reflex-banner{
  background-image: none;
}
.ref-mob-img{
  margin-top: -60px;
}
.ref-row {
	margin: 25px 0 !important;
}
  .reflex-container {
    padding-bottom: 0 !important;
  }

  .contact-right {
    padding: 5px !important;
  }

  .mb-contact {
    width: 130px !important;
  }

  .about-welcome-text {
    padding: 5px !important;
  }
  .about-me-img {
	background-image: url('/profile-bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
}
.nav-menus-btn {
	padding: 0 115px;
	margin: 0 11px;
	font-size: 16px;
}
.welcome-sub-text {
	font-family: Avenir;
	font-weight: 400 !important;
	font-size: 16px;
	color: #535568;
	margin-bottom: 35px;
	text-align: justify;
  padding: 0 10px;
}
.energy-section {
	padding: 38px 0 0 0;
}
.energy-texts {
	font-size: 44px;
  margin-top: 0 !important;
}
.energy-text{
	font-size: 44px;
  margin-top: 0;
}
.ref-head {
	font-family: Bellefair;
	font-weight: 400;
	font-size: 16px;
	color: #395CAB;
	text-align: center;
}
.ref-subhead {
	font-family: Bellefair;
	font-weight: 400;
	font-size: 26px;
	color: #444655;
	text-align: center;
}
.ref-para {
	font-family: Avenir;
	font-size: 16px;
	color: #535568;
  padding: 0 5px 0 0;
}

.treatment-head {
	font-size: 26px;
	font-family: Bellefair;
	font-weight: 400;
	color: #444655;
}
.treatment-subhead {
	font-size: 17px;
	font-weight: 400;
	font-family: Bellefair;
	color: #395CAB;
}
.treatment-title {
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 0 0;
	color: #444655;
	font-family: Bellefair;
}
.nature-section img {
	text-align: center;
	object-fit: contain;
	width: 65px;
	height: 85px;
}
.treatment-para {
	font-family: Avenir;
	font-weight: 400 !important;
	font-size: 15px;
	color: #535568;
	padding: 10px 0;
}
.cure-head {
	color: #395CAB;
	font-size: 31px;
	font-weight: 400;
	font-family: "Arsenal SC";
}
.cure-subhead {
	color: #395CAB;
	font-size: 31px;
	font-weight: 300;
	font-family: "Arsenal SC";
	margin-top: -30px;
}
.program-title {
	font-size: 26px;
	font-family: Bellefair;
	color: #444655;
	font-weight: 400;
	text-align: center;
}
.program-sub {
	font-size: 16px;
	font-family: Bellefair;
	color: #395CAB;
	font-weight: 400;
	text-align: center;
}
.feet-text {
	color: #395CAB;
	font-size: 31px;
	font-weight: 400;
	font-family: "Arsenal SC";
	line-height: 51px;
	padding: 0;
	text-align: center;
  margin-top: -64px;
}
.word-title {
	font-size: 26px;
}
.word-testimonial {
	font-size: 16px;
}
.testimonial-text {
	font-size: 14px;
}
.testimonial-author {
	font-size: 20px;
}
.testimonial-desgination {
	font-size: 14px;
}
.contact-head-title {
	font-size: 26px;
}
.about-welcome-text {
	font-family: Bellefair;
	font-size: 28px;
	color: #444655;
	line-height: 42px;
	text-align: center;
	padding: 0 44px !important;
}
.about-welcome-sub-text {
	font-family: Avenir;
	font-weight: 400 !important;
	font-size: 16px;
	color: #535568;
  text-align: center;
}

.energy-text-test {
	color: #395CAB;
	font-size: 40px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
	font-family: "Arsenal SC";
}
.energy-text-testi {
	color: #395CAB;
	font-size: 40px;
	font-weight: 300;
	margin-top: 0; 
	margin-bottom: 0;
	font-family: "Arsenal SC";
}
.enegergy2-section{
margin: -80px 0 -110px 0;
}
.contact-right-head-cc {
	font-size: 24px;
	font-family: Bellefair;
	color: #444655;
	font-weight: 400;
	padding: 127px 0 2px 0;
	text-align: center;
}
.contact-right-subhead-cc {
	font-size: 14px;
	font-family: Bellefair;
	color: #6D758F;
	font-weight: 400;
	margin-top: -18px;
	padding: 0 0 30px 0;
	text-align: center;
}
.contact-right-head {
	font-size: 26px;
	font-family: Bellefair;
	color: #444655;
	font-weight: 400;
	text-align: center;
      margin-top: 30px;
}
.contact-right-subhead {
	font-size: 22px;
	font-family: Bellefair;
	color: #6D758F;
	font-weight: 400;
	margin-top: -18px;
	text-align: center;
}
.contact-infs{
  padding: 0 30px;
}
.banner-mob-abt{
  margin-bottom: -50px !important;
}
.peace {
	background-image: url('/peace-bg-mob.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100% !important;
	margin-left: 0px !important;
	height: 2200px !important;
}
.banner-img-ref {
  background-image: none;
}
.mission-text {
	font-size: 30px;
	font-family: Bellefair;
	color: #444655;
	font-weight: 400;
	margin: -4px 0 0 15px;
}
.mission-sub-text {
	font-size: 18px;
	font-family: Bellefair;
	color: #395CAB;
	margin-top: 17px;
	font-weight: 400;
	margin-bottom: 0;
}
.mission-sub-txt {
	color: #395CAB;
	font-size: 20px;
	font-weight: 300;
	font-family: "Arsenal SC";
	text-transform: uppercase !important;
}
.mission-sub-txte {
	color: #395CAB;
	font-size: 20px;
	font-weight: 300;
	font-family: "Arsenal SC";
	text-transform: uppercase !important;
}
.about-me{
 padding: 0 0 94px 0 !important;
    margin-top: -30px;
  	background-image: url('/about-bg-mob.png');
    background-position: top !important;
    margin-bottom: -135px !important;
}

.about-main-title {
	font-size: 16px;
	font-family: Bellefair;
	color: #395CAB;
	margin-top: 0 !important;
	font-weight: 400;
	text-align: center;
}
.about-title {
	font-size: 26px;
	font-family: Bellefair;
	color: #444655;
	font-weight: 400;
	text-align: center;
}
.about-txt {
	font-size: 15px;
	font-family: Avenir;
	font-weight: 400;
	color: #535568;
	text-align: justify;
}
.about-content-me {
	margin: 60px 0 0 0 !important;
}
.about-for-img {
	margin: 0px 0 0 0 !important;
  padding: 91px 0 0 0 !important;
}
.about-logo{
  width: 100%;
}
.about-text-sec {
	color: #6D758F;
	font-size: 15px;
	font-family: Avenir;
	font-weight: 400;
	padding: 0 0 0 0;
	text-align: justify;
}
.footer-menu li {
	font-size: 14px;
	cursor: pointer;
}
.footer-copy-left {
	font-size: 10px;
	color: #7994D1;
	float: left;
	margin: 10px 0 0 0;
}

.logo-arul{
  width: 161px;
}
.home-contact-form {
	margin-top: -50px;
}

.contact-form {
  background-image: url('/contact-mob-bg.png');
  margin-top: 0;
}
.ref-head-mob{
margin: 25px 0 10px 0;
}
.peace-img-mob{
  margin: -50px 0 30px -50px;
}
.home-contact-row{
  margin-top: -80px !important;
}
.balance-order-row{
  margin-top: -60px !important;
}
.balance-order-row2{
  margin-top: -20px !important;
}
.welcome-banner-control {
	padding: 55px;
	height: 325px;
	margin: -99px 0 55px 0;
}
.welcome-ord-content{
  margin-top: -60px !important;
}
.reflex-mb-banner{
  padding: 20px;
  margin: -17px 0 0 -19px;
}
.nature-section{
  margin-top: -15px !important;
}
.problems {
  margin: -40px 0 0 0;
}
.banner-imgmb-ref{
  margin: -50px 0 30px 0;
}
.prog-img{
  height: 147px !important;
}
.recent-pg {
  margin-top: -160px !important;
}
.foot-text {
	padding: 54px 0 0 0;
}
.feet-text {
	color: #395CAB;
	font-size: 31px;
	font-weight: 400;
	font-family: "Arsenal SC";
	line-height: 38px;
	padding: 0 0;
	text-align: center;
	margin-top: -64px;
}
.py-12 {
  margin: -65px 0 0 0;
}
.footer {
  background-image: url('/footer-bg-mb.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  margin-top: 90px !important;
}
.testi-dots-mb{
  margin: -45px 0 60px 0 !important;
}
.testimonial-author{
  margin-bottom: 0px !important;
}
.contact-section-mb{
  margin: -40px 0 -10px 0;
}
.rec-prg-img{
  height: 150px !important;
}
.btn-hmg{
  background: #EAEEF6;
  padding: 5px 5px !important;
  border-radius: 6px;
}
.balance-about-mob {
	margin: -93px 0 36px 0 !important;
	max-height: 401px !important;
}
.deepan-img{
  width: 100% !important;
margin: 0 0 0 -29px !important;
}
.about-title-mob{
  position: absolute;
  margin: 45px;
}
.about-txt-mb-1{
  margin-top: -25px;
}
.about-logo-mob{
  width: 191px !important;
}
.tamilword-img {
	margin: -40px 0 40px 40px;
}
.image-contain {
  height: 70px;
}
.nature-section img {
  text-align: center;
  object-fit: contain;
  height: 70px !important;
}
.home-contactform {
padding: 0;
}
.contactform {
  padding: 0;
}
.contact-right-head-cc {
	padding: 63px 0 2px 0;

}
.about-welcome-sub-textd {
	padding: 0 10px;
}
.welcome-texts .welcome-blue {
	position: absolute;
	top: 316px;
	left: 46px;
	width: 39px;
	height: 39px;
	background: #395CABB2;
	filter: blur(21px);
	z-index: -1;
	border-radius: 50%;
}
.welcome-texts .welcome-green {
	position: absolute;
	top: 368px;
	left: 82px;
	width: 46px;
	height: 39px;
	background: green;
	filter: blur(31px);
	z-index: -1;
	border-radius: 50%;
}
.reflex-green {
	position: absolute;
	top: 368px;
	left: 82px;
	width: 46px;
	height: 39px;
	background: #3995AB;
	filter: blur(31px);
	z-index: -1;
	border-radius: 50%;
}
.treatment-green {
	position: absolute;
	top: 27px;
	left: 263px;
	width: 46px;
	height: 39px;
	background: green;
	filter: blur(32px);
	z-index: -1;
	border-radius: 50%;
}
.treatment-green {
	position: absolute;
	top: 27px;
	left: 263px;
	width: 46px;
	height: 39px;
	background: green;
	filter: blur(38px);
	z-index: -1;
	border-radius: 50%;
}
.testimonial-red{
  	position: absolute;
	top: 27px;
	left: 263px;
	width: 46px;
	height: 39px;
	background: green;
	filter: blur(32px);
	z-index: -1;
	border-radius: 50%;
}
}